apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "common.name" . }}-database
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.databaseSize | default "10Gi" }}
  storageClassName: {{ .Values.storage.storageClass | default "gp2" }}

