appName: "workbench-onix"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 3000
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  # root: /app/plugins
  # remoteRoot: /mnt/gcs/plugins/plugins_bundle.zip
  root: ./plugins
modules:
  - name: BapTxnReceiver
    path: /api-service/ONDC:RET10/1.2.5/buyer/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        cache:
          id: cache
          config:
            addr: localhost:6379
        keyManager:
          id: keymanager
        # router:
        #   id: router
        #   config:
        #     routingConfigPath: ./config/ondc-workbench-onix/np-buyer-router.yaml
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        ondcValidator:
          id: ondcvalidator
          config:
            stateFullValidations: true
            debugMode: false
        ondcWorkbench:
          id: ondcworkbench
          config:
            auditURL: http://13.233.69.163:8080
            # noUrl: https:no.url
            # noToken: auth_token
            # enableNo: false
            # inHouseRegistryUrl: http://localhost:8080/reg
            protocolVersion: "1.2.5"
            protocolDomain: "ONDC:RET10"
            moduleRole: "BAP"
            moduleType: "receiver"
            configServiceURL: https://dev-automation.ondc.org/config-service

      steps:
        - ondcWorkbenchReceiver
        - validateSchema
        - validateOndcPayload
        # - ondcWorkbenchProcessor
        - validateOndcCallSave
        # - addRoute
  # - name: BapTxnCaller
  #   path: /api-service/ONDC:RET10/1.2.5/mock/buyer
  # - name: BppTxnReceiver
  #   path: /api-service/ONDC:RET10/1.2.5/seller/
  # - name: BppTxnCaller
  #   path: /api-service/ONDC:RET10/1.2.5/mock/seller
  # - name: formReceiver
  - name: standaloneValidator
    path: /api-service/ONDC:RET10/1.2.5/test/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        # cache:
        #   id: cache
        #   config:
        #     addr: localhost:6379
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        ondcValidator:
          id: ondcvalidator
          config:
            stateFullValidations: false
            debugMode: false
      steps:
        - validateSchema
        - validateOndcPayload
