appName: "workbench-onix"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 3000
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  # root: /app/plugins
  # remoteRoot: /mnt/gcs/plugins/plugins_bundle.zip
  root: ./plugins
modules:
  # - name: npTxnReceiver
  # - name: mockTxnReceiver
  # - name: formReceiver

  - name: standaloneValidator
    path: /api-service/ONDC:RET10/1.2.5/test/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        cache:
          id: cache
          config:
            addr: localhost:6379
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        ondcValidator:
          id: ondcvalidator
          config:
            stateFullValidations: false
            debugMode: false
      steps:
        - validateSchema
        - validateOndcPayload
        # - validateOndcCallSave
